
/* coustom css here */

.panda-bg-info{
    background-color: #FEEAE9;
}

.categories img{
    width: 100px;
}

.panda-btn-buy-now{
    color: #fff;
    border-radius: 8px ;
    padding: 8px 25px;
    border: none;
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);


}